@use "./variables" as *;

.contact {
  margin: 4em 0;
  text-align: center;

  h2 {
    text-align: center;
    color: var(--header);
    font-weight: 300;
    font-size: 35px;
    font-family: "Genos", sans-serif;
    padding-bottom: 1em;
    padding-top: 2em;

    span {
      color: var(--primaryColor);
      font-size: 0.8em;
    }
  }

  p {
    padding: 0 2em;
    font-family: "Genos", sans-serif;
    color: var(--defaultColor);
    font-size: 20px;
  }
}

footer {
  .attribution {
    text-align: center;
    margin: 1em 0;
    padding-bottom: 2em;

    .icons {
      a {
        img {
          margin-right: 20px;
        }
      }

      .number {
        position: relative;
        left: 5px;
        top: -9px;
        font-family: "Genos", sans-serif;
        color: var(--header);
        font-weight: 900;
      }
    }

    p {
      margin-top: 20px;
      color: var(--defaultColor);
      font-family: "Genos", sans-serif;
      position: relative;

      .signed {
        font-weight: 700;
        font-family: "Vujahday Script", cursive;
        color: var(--header);
        text-decoration: none;
        font-size: 20px;
        margin-left: 5px;
      }
      .signed:hover {
        color: var(--defaultColor);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contact {
    h2 {
      font-size: 40px;
    }

    p {
      font-size: 22px;
    }
  }

  footer {
    .attribution {
      .icons {
        .number {
          position: relative;
          left: 5px;
          top: -10px;
        }
      }

      p {
        margin-top: 20px;

        span {
          color: var(--primaryColor);
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  footer {
    .attribution {
      p {
        margin-top: 30px;
        font-size: 20px;
      }
    }
  }
}
