@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:ital@1&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  scroll-padding-top: var(--scroll-padding, 100px);
}

:root {
  --primaryColor: #1d5c96;
  --header: #12395d;
  --secondary: #7db0de;
  --defaultColor: #f0f8ff;
  --numberColor: #00ffff;
  --transition: 500ms ease;
}

body {
  background-color: var(--secondary);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.header {
  padding: 1em 2em;
  background-color: var(--primaryColor);
  z-index: 1;
  width: 100%;
}
.header .navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header .navbar .logo {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: var(--defaultColor);
  font-family: "Genos", sans-serif;
}
.header .navbar .logo .j {
  font-size: 3em;
  font-family: "Vujahday Script", cursive;
  font-weight: 600;
}
.header .navbar .logo .j:hover {
  color: var(--numberColor);
}
.header .navbar .logo .w {
  font-size: 3em;
  font-family: "Vujahday Script", cursive;
  font-weight: 600;
}
.header .navbar .logo .w:hover {
  color: var(--numberColor);
}
.header .navbar .hamburger {
  cursor: pointer;
}
.header .navbar .hamburger .bar {
  width: 30px;
  height: 2px;
  margin-top: 5px;
  background-color: var(--numberColor);
}
.header .navbar .hamburger .bar:nth-child(2) {
  transform: translateX(7px);
}
.header .navbar .hamburger .bar:nth-child(3) {
  transform: translateX(14px);
}
.header .navbar .nav__menu {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: transform 800ms ease;
}
.modal .close-icon {
  position: absolute;
  right: 25px;
  top: 50px;
  cursor: pointer;
}
.modal .close-icon .bar {
  width: 30px;
  height: 3px;
  margin-top: 5px;
  background-color: var(--numberColor);
}
.modal .close-icon .bar:nth-child(1) {
  transform: rotate(-45deg) translateY(5px);
}
.modal .close-icon .bar:nth-child(2) {
  transform: rotate(45deg) translateY(-5px);
}
.modal .nav__menu {
  display: grid;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 50px;
  font-family: "Genos", sans-serif;
}
.modal .nav__menu .nav__item {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.modal .nav__menu .nav__item .number {
  color: var(--numberColor);
}
.modal .nav__menu .nav__item .nav__link {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  position: relative;
}
.modal .nav__menu .nav__item .nav__link:focus-visible {
  outline: none;
}
.modal .nav__menu .nav__item .nav__link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--numberColor);
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 500ms ease;
  transform-origin: left;
}
.modal .nav__menu .nav__item:hover .nav__link::after {
  transform: scaleX(1);
}

.modal.active {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1em 2em;
    background-color: var(--primaryColor);
    position: fixed;
  }
  .header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .header .navbar .hamburger {
    display: none;
  }
  .header .navbar .nav__menu {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 2em;
  }
  .header .navbar .nav__menu .nav__item {
    display: flex;
    align-items: baseline;
    gap: 5px;
  }
  .header .navbar .nav__menu .nav__item .number {
    display: none;
  }
  .header .navbar .nav__menu .nav__item .nav__link {
    font-size: 20px;
    font-family: "Genos", sans-serif;
    text-decoration: none;
    transition: var(--transition);
    color: var(--defaultColor);
  }
  .header .navbar .nav__menu .nav__item .nav__link:hover {
    color: var(--numberColor);
  }
  .header .navbar .resume {
    display: inline-block;
    border: 1px solid cyan;
    border-radius: 1em;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    transform: scale(1);
    color: var(--defaultColor);
    font-family: "Genos", sans-serif;
    font-size: 18px;
    position: absolute;
    right: 0;
  }
  .header .navbar .resume:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    transform: scale(1.1);
  }
  .header .navbar .resume:hover,
.header .navbar .resume:focus {
    color: cyan;
  }

  .modal {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header .navbar {
    gap: 10%;
  }
  .header .navbar .nav__menu {
    gap: 30px;
  }
  .header .navbar .nav__menu .nav__item .number {
    color: var(--numberColor);
    display: inline-block;
  }
  .header .navbar .nav__menu .nav__item .nav__link {
    font-size: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .header .navbar {
    gap: 10%;
  }
  .header .navbar .nav__menu {
    gap: 30px;
  }
  .header .navbar .nav__menu .nav__item .number {
    color: var(--numberColor);
    display: inline-block;
  }
  .header .navbar .nav__menu .nav__item .nav__link {
    font-size: 25px;
  }
}
.home {
  margin: 0 auto 2em;
  padding: 5em 1em 0;
  text-align: center;
  position: relative;
}
.home .alert {
  position: top;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 900;
  color: var(--header);
}
.home h1 {
  margin-bottom: 0.1em;
  font-size: 3em;
  font-family: "Vujahday Script", cursive;
  font-weight: 700;
  color: var(--header);
}
.home .job-description {
  padding: 0 1em;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--defaultColor);
}
.home .job-title {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--header);
  letter-spacing: 2px;
}
.home .contact__btn {
  padding: 1em 3em;
  font-size: 15px;
  font-family: "Genos", sans-serif;
  font-weight: bold;
  color: var(--defaultColor);
  background-color: rgba(18, 57, 93, 0.368627451);
  border: 1px solid var(--numberColor);
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: 4em;
  transform: scale(1);
  transition: 500ms ease;
  box-shadow: 0 0 30px 7px var(--header);
  letter-spacing: 3px;
}
.home .contact__btn:hover {
  color: var(--numberColor);
  box-shadow: 0 0 40px 10px;
}

@media screen and (min-width: 768px) {
  .home {
    padding: 10em 0 0;
  }
  .home .alert {
    top: 95px;
  }
  .home h1 {
    font-size: 4em;
  }
  .home .job-description {
    font-size: 2em;
  }
  .home .job-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .home {
    padding: 10em 3em 0;
  }
  .home .job-description {
    padding: 0;
    font-size: 2.5em;
  }
  .home .job-title {
    font-weight: 600;
    color: var(--primaryColor);
    letter-spacing: 2px;
  }
}
.services {
  margin: 7em 0 0;
  padding: 8em 2em 0 2em;
  text-align: center;
}
.services .my__services h2 {
  padding: 10px 0;
  font-family: "Genos", sans-serif;
  font-weight: 300;
  color: var(--header);
  font-size: 35px;
}
.services .my__services h2 span {
  padding-right: 10px;
  font-size: 0.8em;
  color: var(--primaryColor);
}
.services .my__services p {
  padding-bottom: 10px;
  line-height: 1.5;
  color: var(--defaultColor);
  font-size: 18px;
}
.services .my__services .design {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0 0;
}
.services .my__services .design .design_icon {
  width: 12em;
  margin: 2em 0 1em;
}
.services .my__services .design h3 {
  margin: 1em 0;
  color: var(--primaryColor);
  letter-spacing: 2px;
}
.services .my__services .design p {
  font-family: "Genos", sans-serif;
  padding: 0.7em 0 1em;
  max-width: 80vw;
}
.services .my__services .design .design__btn {
  margin-top: 1.5em;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: var(--defaultColor);
  transform: scale(1);
  transition: transform 500ms ease;
  cursor: pointer;
}
.services .my__services .design .design__btn:hover {
  transform: scale(1.3);
}
.services .my__services .web__design {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0 0;
}
.services .my__services .web__design .webDesign_icon {
  width: 12em;
  margin: 2em 0 1em;
}
.services .my__services .web__design h3 {
  margin: 1em 0;
  color: var(--primaryColor);
  letter-spacing: 2px;
}
.services .my__services .web__design p {
  font-family: "Genos", sans-serif;
  padding: 0.7em 0 1em;
  max-width: 80vw;
}
.services .my__services .web__design .web-design__btn {
  margin-top: 1.5em;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: var(--defaultColor);
  transform: scale(1);
  transition: transform 500ms ease;
  cursor: pointer;
}
.services .my__services .web__design .web-design__btn:hover {
  transform: scale(1.3);
}
.services .my__services .online__marketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0 0;
}
.services .my__services .online__marketing .marketing_icon {
  width: 12em;
  margin: 2em 0 1em;
}
.services .my__services .online__marketing h3 {
  margin: 1em 0;
  color: var(--primaryColor);
  letter-spacing: 2px;
}
.services .my__services .online__marketing p {
  font-family: "Genos", sans-serif;
  padding: 0.7em 0 1em;
  max-width: 80vw;
}
.services .my__services .online__marketing .marketing__btn {
  margin-top: 1.5em;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: var(--defaultColor);
  transform: scale(1);
  transition: transform 500ms ease;
  cursor: pointer;
}
.services .my__services .online__marketing .marketing__btn:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 768px) {
  .services {
    margin: 7em 0 0;
    padding: 8em 2em 0 2em;
    text-align: center;
  }
  .services .my__services h2 {
    padding: 10px 0;
    font-family: "Genos", sans-serif;
    font-weight: 300;
    color: var(--header);
    font-size: 35px;
  }
  .services .my__services h2 span {
    padding-right: 10px;
    font-size: 0.8em;
    color: var(--primaryColor);
  }
  .services .my__services p {
    padding-bottom: 10px;
    line-height: 1.5;
    color: var(--defaultColor);
    font-size: 18px;
  }
  .services .my__services .design p {
    max-width: 50vw;
  }
  .services .my__services .web__design p {
    max-width: 50vw;
  }
  .services .my__services .online__marketing p {
    max-width: 50vw;
  }
}
.work {
  margin: 3em 0;
  padding-top: 3em;
}
.work h2 {
  text-align: center;
  color: var(--header);
  font-weight: 300;
  font-family: "Genos", sans-serif;
  font-size: 35px;
  padding-bottom: 1em;
  padding-top: 2em;
}
.work h2 span {
  color: var(--primaryColor);
  font-size: 0.8em;
}
.work h3 {
  text-align: center;
  padding-bottom: 1em;
  font-weight: 600;
  color: var(--defaultColor);
  font-family: "Genos", sans-serif;
  letter-spacing: 1px;
}
.work .projects {
  display: grid;
  place-items: center;
}
.work .projects .project_1, .work .projects .project_4, .work .projects .project_3, .work .projects .project_2 {
  display: grid;
  place-items: center;
}
.work .projects .project_1 img, .work .projects .project_4 img, .work .projects .project_3 img, .work .projects .project_2 img {
  width: 100%;
  transform: scale(0.7);
  transition: transform 500ms ease;
  cursor: pointer;
}
.work .projects .project_1 img:hover, .work .projects .project_4 img:hover, .work .projects .project_3 img:hover, .work .projects .project_2 img:hover {
  transform: scale(0.9);
}
.work .projects .project_1 p, .work .projects .project_4 p, .work .projects .project_3 p, .work .projects .project_2 p {
  padding: 0.3em 0 1em;
  font-size: 20px;
  text-decoration: underline;
  color: var(--defaultColor);
  font-family: "Genos", sans-serif;
}
.work .projects .project_1 .btns, .work .projects .project_4 .btns, .work .projects .project_3 .btns, .work .projects .project_2 .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 1em;
  font-family: "Genos", sans-serif;
}
.work .projects .project_1 .btns .live, .work .projects .project_4 .btns .live, .work .projects .project_3 .btns .live, .work .projects .project_2 .btns .live {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--primaryColor);
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
}
.work .projects .project_1 .btns .view, .work .projects .project_4 .btns .view, .work .projects .project_3 .btns .view, .work .projects .project_2 .btns .view {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  color: var(--header);
  border-radius: 10px;
  transform: scale(1);
  transition: transform 500ms ease-out;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
}
.work .projects .project_1 .btns .view:hover, .work .projects .project_4 .btns .view:hover, .work .projects .project_3 .btns .view:hover, .work .projects .project_2 .btns .view:hover {
  transform: scale(1.1);
  background-color: var(--primaryColor);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .work {
    margin: 3em 0;
    padding-top: 3em;
  }
  .work h2 {
    text-align: center;
    color: var(--header);
    font-weight: 300;
    font-size: 40px;
    padding-bottom: 1em;
    padding-top: 2em;
  }
  .work h2 span {
    color: var(--primaryColor);
    font-size: 0.8em;
  }
  .work h3 {
    text-align: center;
    padding-bottom: 1em;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .work .projects {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .work .projects .project_1, .work .projects .project_2, .work .projects .project_3, .work .projects .project_4 {
    display: grid;
    place-items: center;
  }
  .work .projects .project_1 img, .work .projects .project_2 img, .work .projects .project_3 img, .work .projects .project_4 img {
    width: 100%;
    transform: scale(0.7);
    transition: transform 500ms ease;
    cursor: pointer;
  }
  .work .projects .project_1 img:hover, .work .projects .project_2 img:hover, .work .projects .project_3 img:hover, .work .projects .project_4 img:hover {
    transform: scale(0.9);
  }
  .work .projects .project_1 p, .work .projects .project_2 p, .work .projects .project_3 p, .work .projects .project_4 p {
    padding: 0.3em 0 1em;
    font-size: 20px;
    text-decoration: underline;
  }
  .work .projects .project_1 .btns, .work .projects .project_2 .btns, .work .projects .project_3 .btns, .work .projects .project_4 .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
  }
  .work .projects .project_1 .btns .live, .work .projects .project_2 .btns .live, .work .projects .project_3 .btns .live, .work .projects .project_4 .btns .live {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_1 .btns .view, .work .projects .project_2 .btns .view, .work .projects .project_3 .btns .view, .work .projects .project_4 .btns .view {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 500ms ease-out;
    text-decoration: none;
  }
  .work .projects .project_1 .btns .view:hover, .work .projects .project_2 .btns .view:hover, .work .projects .project_3 .btns .view:hover, .work .projects .project_4 .btns .view:hover {
    transform: scale(1.1);
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_2 {
    display: grid;
    place-items: center;
  }
  .work .projects .project_2 img {
    width: 100%;
    transform: scale(0.7);
    transition: transform 500ms ease;
    cursor: pointer;
    height: 45vh;
  }
  .work .projects .project_2 img:hover {
    transform: scale(0.9);
  }
  .work .projects .project_2 p {
    padding: 0.3em 0 1em;
    font-size: 20px;
    text-decoration: underline;
  }
  .work .projects .project_2 .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
  }
  .work .projects .project_2 .btns .live {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_2 .btns .view {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 500ms ease-out;
    text-decoration: none;
  }
  .work .projects .project_2 .btns .view:hover {
    transform: scale(1.1);
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_3 {
    display: grid;
    place-items: center;
  }
  .work .projects .project_3 img {
    width: 100%;
    transform: scale(0.7);
    transition: transform 500ms ease;
    cursor: pointer;
  }
  .work .projects .project_3 img:hover {
    transform: scale(0.9);
  }
  .work .projects .project_3 p {
    padding: 0.3em 0 1em;
    font-size: 20px;
    text-decoration: underline;
  }
  .work .projects .project_3 .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
  }
  .work .projects .project_3 .btns .live {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_3 .btns .view {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 500ms ease-out;
    text-decoration: none;
  }
  .work .projects .project_3 .btns .view:hover {
    transform: scale(1.1);
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_4 {
    display: grid;
    place-items: center;
  }
  .work .projects .project_4 img {
    width: 100%;
    transform: scale(0.7);
    transition: transform 500ms ease;
    cursor: pointer;
    height: 43vh;
  }
  .work .projects .project_4 img:hover {
    transform: scale(0.9);
  }
  .work .projects .project_4 p {
    padding: 0.3em 0 1em;
    font-size: 20px;
    text-decoration: underline;
  }
  .work .projects .project_4 .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
  }
  .work .projects .project_4 .btns .live {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_4 .btns .view {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 500ms ease-out;
    text-decoration: none;
  }
  .work .projects .project_4 .btns .view:hover {
    transform: scale(1.1);
    background-color: var(--primaryColor);
    color: #fff;
  }
}
@media screen and (min-width: 1024px) {
  .work {
    margin: 3em 0;
    padding-top: 3em;
  }
  .work h2 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    padding-bottom: 1em;
    padding-top: 2em;
  }
  .work h2 span {
    color: var(--primaryColor);
    font-size: 0.8em;
  }
  .work h3 {
    text-align: center;
    padding-bottom: 1em;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .work .projects {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .work .projects .project_2 {
    display: grid;
    place-items: center;
  }
  .work .projects .project_2 img {
    width: 100%;
    transform: scale(0.7);
    transition: transform 500ms ease;
    cursor: pointer;
    height: 58vh;
  }
  .work .projects .project_2 img:hover {
    transform: scale(0.9);
  }
  .work .projects .project_2 p {
    padding: 0.3em 0 1em;
    font-size: 20px;
    text-decoration: underline;
  }
  .work .projects .project_2 .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
  }
  .work .projects .project_2 .btns .live {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_2 .btns .view {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 500ms ease-out;
    text-decoration: none;
  }
  .work .projects .project_2 .btns .view:hover {
    transform: scale(1.1);
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_4 {
    display: grid;
    place-items: center;
  }
  .work .projects .project_4 img {
    width: 100%;
    transform: scale(0.7);
    transition: transform 500ms ease;
    cursor: pointer;
    height: 58vh;
  }
  .work .projects .project_4 img:hover {
    transform: scale(0.9);
  }
  .work .projects .project_4 p {
    padding: 0.3em 0 1em;
    font-size: 20px;
    text-decoration: underline;
  }
  .work .projects .project_4 .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
  }
  .work .projects .project_4 .btns .live {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_4 .btns .view {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 500ms ease-out;
    text-decoration: none;
  }
  .work .projects .project_4 .btns .view:hover {
    transform: scale(1.1);
    background-color: var(--primaryColor);
    color: #fff;
  }
}
@media screen and (min-width: 1300px) {
  .work {
    margin: 3em 0;
    padding-top: 3em;
  }
  .work h2 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    padding: 2em 0 1em;
  }
  .work h2 span {
    color: var(--primaryColor);
    font-size: 0.8em;
  }
  .work h3 {
    text-align: center;
    padding-bottom: 1em;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .work .projects {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .work .projects .project_2 {
    display: grid;
    place-items: center;
  }
  .work .projects .project_2 img {
    width: 100%;
    transform: scale(0.7);
    transition: transform 500ms ease;
    cursor: pointer;
    height: 74vh;
  }
  .work .projects .project_2 img:hover {
    transform: scale(0.9);
  }
  .work .projects .project_2 p {
    padding: 0.3em 0 1em;
    font-size: 20px;
    text-decoration: underline;
  }
  .work .projects .project_2 .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
  }
  .work .projects .project_2 .btns .live {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_2 .btns .view {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 500ms ease-out;
    text-decoration: none;
  }
  .work .projects .project_2 .btns .view:hover {
    transform: scale(1.1);
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_4 {
    display: grid;
    place-items: center;
  }
  .work .projects .project_4 img {
    width: 100%;
    transform: scale(0.7);
    transition: transform 500ms ease;
    cursor: pointer;
    height: 73vh;
  }
  .work .projects .project_4 img:hover {
    transform: scale(0.9);
  }
  .work .projects .project_4 p {
    padding: 0.3em 0 1em;
    font-size: 20px;
    text-decoration: underline;
  }
  .work .projects .project_4 .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
  }
  .work .projects .project_4 .btns .live {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--primaryColor);
    color: #fff;
  }
  .work .projects .project_4 .btns .view {
    padding: 10px 20px;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 500ms ease-out;
    text-decoration: none;
  }
  .work .projects .project_4 .btns .view:hover {
    transform: scale(1.1);
    background-color: var(--primaryColor);
    color: #fff;
  }
}
.contact {
  margin: 4em 0;
  text-align: center;
}
.contact h2 {
  text-align: center;
  color: var(--header);
  font-weight: 300;
  font-size: 35px;
  font-family: "Genos", sans-serif;
  padding-bottom: 1em;
  padding-top: 2em;
}
.contact h2 span {
  color: var(--primaryColor);
  font-size: 0.8em;
}
.contact p {
  padding: 0 2em;
  font-family: "Genos", sans-serif;
  color: var(--defaultColor);
  font-size: 20px;
}

footer .attribution {
  text-align: center;
  margin: 1em 0;
  padding-bottom: 2em;
}
footer .attribution .icons a {
  width: 10%;
}
footer .attribution .icons a img {
  width: 7%;
  margin-right: 20px;
}
footer .attribution .icons a .github {
  filter: var(--invert);
}
footer .attribution .icons .whatsapp {
  width: 7%;
}
footer .attribution .icons .number {
  position: relative;
  left: 5px;
  top: -9px;
  font-family: "Genos", sans-serif;
  color: var(--header);
  font-weight: 900;
}
footer .attribution p {
  margin-top: 20px;
  color: var(--defaultColor);
  font-family: "Genos", sans-serif;
  position: relative;
}
footer .attribution p .signed {
  font-weight: 700;
  font-family: "Vujahday Script", cursive;
  color: var(--header);
  text-decoration: none;
  font-size: 20px;
  margin-left: 5px;
}
footer .attribution p .signed:hover {
  color: var(--numberColor);
}

@media screen and (min-width: 768px) {
  .contact {
    margin: 4em 0;
    text-align: center;
  }
  .contact h2 {
    text-align: center;
    font-weight: 300;
    padding-bottom: 1em;
    padding-top: 2em;
    font-size: 40px;
  }
  .contact h2 span {
    font-size: 0.8em;
  }
  .contact p {
    padding: 0 2em;
  }

  footer .attribution {
    text-align: center;
    margin: 1em 0;
  }
  footer .attribution .icons a {
    width: 10%;
  }
  footer .attribution .icons a img {
    width: 4%;
    margin-right: 20px;
  }
  footer .attribution .icons a .github {
    filter: var(--invert);
  }
  footer .attribution .icons .whatsapp {
    width: 4%;
  }
  footer .attribution .icons .number {
    position: relative;
    left: 5px;
    top: -10px;
  }
  footer .attribution p {
    margin-top: 20px;
  }
  footer .attribution p span {
    color: var(--primaryColor);
  }
}
@media screen and (min-width: 1100px) {
  .contact {
    margin: 4em 0;
    text-align: center;
  }
  .contact h2 {
    text-align: center;
    font-weight: 300;
    padding-bottom: 1em;
    padding-top: 2em;
  }
  .contact h2 span {
    font-size: 0.8em;
  }
  .contact p {
    padding: 0 2em;
    font-size: 20px;
  }

  footer .attribution {
    text-align: center;
    margin: 1em 0;
  }
  footer .attribution .icons a {
    width: 10%;
  }
  footer .attribution .icons a img {
    width: 3%;
    margin-right: 20px;
  }
  footer .attribution .icons .whatsapp {
    width: 3%;
  }
  footer .attribution .icons .number {
    position: relative;
    left: 5px;
    top: -16px;
  }
  footer .attribution p {
    margin-top: 30px;
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */